In [33]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [34]:
def preprocess(dataframe:pd.DataFrame):
    '''
    data preparation.
    '''

In [35]:
df = pd.read_csv("../data/wine-model-training-data.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.5,0.14,0.34,1.3,0.055,50.0,153.0,0.99450,3.29,0.80,9.6,6.0
1,6.8,0.32,0.32,8.7,0.029,31.0,105.0,0.99146,3.00,0.34,12.3,7.0
2,7.5,0.28,0.34,4.2,0.028,36.0,116.0,0.99100,2.99,0.41,12.3,8.0
3,6.5,0.24,0.32,7.6,0.038,48.0,203.0,0.99580,3.45,0.54,9.7,7.0
4,6.9,0.21,0.62,6.3,0.042,7.0,109.0,0.99358,2.96,0.59,10.2,6.0

In [36]:
df2 = df
df2 = df2[df2['fixed acidity'] < 13]
df2 = df2[df2['residual sugar'] < 60]
df2 = df2[df2['chlorides'] < 0.3]
df2 = df2[df2['citric acid'] < 1.1]
df2.reset_index(drop=True, inplace=True)
df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.5,0.14,0.34,1.3,0.055,50.0,153.0,0.99450,3.29,0.80,9.6,6.0
1,6.8,0.32,0.32,8.7,0.029,31.0,105.0,0.99146,3.00,0.34,12.3,7.0
2,7.5,0.28,0.34,4.2,0.028,36.0,116.0,0.99100,2.99,0.41,12.3,8.0
3,6.5,0.24,0.32,7.6,0.038,48.0,203.0,0.99580,3.45,0.54,9.7,7.0
4,6.9,0.21,0.62,6.3,0.042,7.0,109.0,0.99358,2.96,0.59,10.2,6.0

In [37]:
def preprocess3d(dataframe):
    dataframe["densit_alcohol"] = dataframe["density"]/dataframe['alcohol']
    dataframe.drop("sulphates",axis=1, inplace=True)
    dataframe.drop("density",axis=1, inplace=True)
    dataframe.drop("chlorides",axis=1, inplace=True)
    pass

In [38]:
df3 = df2.copy()
preprocess3d(df3)
df3.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,quality,densit_alcohol
0,7.5,0.14,0.34,1.3,50.0,153.0,3.29,9.6,6.0,0.103594
1,6.8,0.32,0.32,8.7,31.0,105.0,3.00,12.3,7.0,0.080607
2,7.5,0.28,0.34,4.2,36.0,116.0,2.99,12.3,8.0,0.080569
3,6.5,0.24,0.32,7.6,48.0,203.0,3.45,9.7,7.0,0.102660
4,6.9,0.21,0.62,6.3,7.0,109.0,2.96,10.2,6.0,0.097410

In [39]:
from sklearn.svm import LinearSVC

In [40]:
model = LinearSVC(random_state=10)
model.fit(df3.drop("quality", axis=1), df3.quality)

C:\Users\Ephraim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC(random_state=10)

In [205]:
xtest_df = pd.read_csv("../data/wine-testing-data.csv")
ytest_df = pd.read_csv("../data/wine-quality.csv")
xtest_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,6.3,0.31,0.30,10.00,0.046,49.0,212.0,0.99620,3.74,0.55,11.9
1,6.8,0.19,0.33,1.30,0.031,22.0,87.0,0.98987,3.08,0.62,12.3
2,7.8,0.40,0.26,9.50,0.059,32.0,178.0,0.99550,3.04,0.43,10.9
3,6.2,0.21,0.38,6.80,0.036,64.0,245.0,0.99510,3.06,0.36,9.3
4,6.1,0.36,0.41,19.35,0.070,67.0,207.0,1.00118,3.39,0.53,9.1

In [42]:
ytest_df.head()

   quality
0      6.0
1      7.0
2      6.0
3      6.0
4      5.0

In [43]:
preprocess3d(xtest_df)
xtest_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol
0,6.3,0.31,0.30,10.00,49.0,212.0,3.74,11.9,0.083714
1,6.8,0.19,0.33,1.30,22.0,87.0,3.08,12.3,0.080477
2,7.8,0.40,0.26,9.50,32.0,178.0,3.04,10.9,0.091330
3,6.2,0.21,0.38,6.80,64.0,245.0,3.06,9.3,0.107000
4,6.1,0.36,0.41,19.35,67.0,207.0,3.39,9.1,0.110020

In [44]:
preds = model.predict(xtest_df)
preds[:5]

array([6., 6., 6., 6., 6.])

In [45]:
from sklearn.metrics import classification_report

In [46]:
print(classification_report(ytest_df.quality, preds))

              precision    recall  f1-score   support

         3.0       0.00      0.00      0.00         3
         4.0       0.33      0.04      0.07        24
         5.0       0.00      0.00      0.00       219
         6.0       0.45      1.00      0.62       330
         7.0       0.00      0.00      0.00       132
         8.0       0.00      0.00      0.00        26
         9.0       0.00      0.00      0.00         1

    accuracy                           0.45       735
   macro avg       0.11      0.15      0.10       735
weighted avg       0.21      0.45      0.28       735

C:\Users\Ephraim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Ephraim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Ephraim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [47]:
df3.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,quality,densit_alcohol
0,7.5,0.14,0.34,1.3,50.0,153.0,3.29,9.6,6.0,0.103594
1,6.8,0.32,0.32,8.7,31.0,105.0,3.00,12.3,7.0,0.080607
2,7.5,0.28,0.34,4.2,36.0,116.0,2.99,12.3,8.0,0.080569
3,6.5,0.24,0.32,7.6,48.0,203.0,3.45,9.7,7.0,0.102660
4,6.9,0.21,0.62,6.3,7.0,109.0,2.96,10.2,6.0,0.097410

In [167]:
df4 = df3.copy()
df4['common'] = (df4.quality == 5)|(df4.quality==6)|(df4.quality == 7)
df5 = df4[df4.common == True]
df5 = df5.drop("common", axis=1)
df6 = df4[df4.common == False]
df6 = df6.drop("common", axis=1)
df4.drop("quality", axis=1, inplace=True)
df4.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol,common
0,7.5,0.14,0.34,1.3,50.0,153.0,3.29,9.6,0.103594,True
1,6.8,0.32,0.32,8.7,31.0,105.0,3.00,12.3,0.080607,True
2,7.5,0.28,0.34,4.2,36.0,116.0,2.99,12.3,0.080569,False
3,6.5,0.24,0.32,7.6,48.0,203.0,3.45,9.7,0.102660,True
4,6.9,0.21,0.62,6.3,7.0,109.0,2.96,10.2,0.097410,True

In [168]:
df5 = df5.reset_index(drop=True)
y = df5.quality
df5 = df5.drop("quality", axis=1)
df5['quality'] = y
df5.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol,quality
0,7.5,0.14,0.34,1.3,50.0,153.0,3.29,9.6,0.103594,6.0
1,6.8,0.32,0.32,8.7,31.0,105.0,3.00,12.3,0.080607,7.0
2,6.5,0.24,0.32,7.6,48.0,203.0,3.45,9.7,0.102660,7.0
3,6.9,0.21,0.62,6.3,7.0,109.0,2.96,10.2,0.097410,6.0
4,6.4,0.16,0.42,1.0,29.0,113.0,3.18,11.0,0.090073,6.0

In [169]:
df6 = df6.reset_index(drop=True)
y = df6.quality
df6 = df6.drop("quality", axis=1)
df6['quality'] = y
df6.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol,quality
0,7.5,0.28,0.34,4.2,36.0,116.0,2.99,12.3,0.080569,8.0
1,6.4,0.22,0.32,7.2,15.0,83.0,3.13,10.9,0.091101,8.0
2,7.5,0.42,0.34,4.3,34.0,108.0,3.14,12.8,0.077465,8.0
3,4.8,0.65,0.12,1.1,4.0,10.0,3.32,13.5,0.073516,4.0
4,6.5,0.48,0.02,0.9,32.0,99.0,3.14,9.8,0.101251,4.0

In [51]:
df4.common.value_counts()

True     3849
False     309
Name: common, dtype: int64

In [52]:
df5.quality.value_counts()

6.0    1865
5.0    1236
7.0     748
Name: quality, dtype: int64

In [53]:
df6.quality.value_counts()

8.0    149
4.0    139
3.0     17
9.0      4
Name: quality, dtype: int64

In [129]:
from imblearn.over_sampling import SMOTE
def oversampledata(data, t, n=5):
    smote = SMOTE(random_state=10, k_neighbors=n)
    x_wine_dataframe, y_wine_dataframe = smote.fit_resample(data.drop(t, axis=1), data[t])
    x_wine_dataframe[t] = y_wine_dataframe
    return x_wine_dataframe

In [55]:
df4 = oversampledata(df4, "common")
df4.common.value_counts()

True     3849
False    3849
Name: common, dtype: int64

In [99]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

model1a = make_pipeline(MinMaxScaler(), SVC(C=100, gamma=1, random_state=10))
model1b = make_pipeline(StandardScaler(), SVC(C=100, gamma=1, random_state=10))
model1a.fit(df4.drop("common", axis=1), df4.common)
model1b.fit(df4.drop("common", axis=1), df4.common)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(C=100, gamma=1, random_state=10))])

In [100]:
df4_test = xtest_df.copy()
df4_test["quality"] = ytest_df.quality
df4_test['common'] = (df4_test.quality == 5)|(df4_test.quality==6)|(df4_test.quality == 7)
df4_test.drop("quality", axis=1, inplace=True)
df4_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol,common
0,6.3,0.31,0.30,10.00,49.0,212.0,3.74,11.9,0.083714,True
1,6.8,0.19,0.33,1.30,22.0,87.0,3.08,12.3,0.080477,True
2,7.8,0.40,0.26,9.50,32.0,178.0,3.04,10.9,0.091330,True
3,6.2,0.21,0.38,6.80,64.0,245.0,3.06,9.3,0.107000,True
4,6.1,0.36,0.41,19.35,67.0,207.0,3.39,9.1,0.110020,True

In [101]:
preds = model1a.predict(df4_test.drop("common", axis=1))
print(classification_report(df4_test.common, preds))

              precision    recall  f1-score   support

       False       0.17      0.48      0.25        54
        True       0.95      0.82      0.88       681

    accuracy                           0.79       735
   macro avg       0.56      0.65      0.57       735
weighted avg       0.89      0.79      0.83       735

In [102]:
preds = model1b.predict(df4_test.drop("common", axis=1))
print(classification_report(df4_test.common, preds))

              precision    recall  f1-score   support

       False       0.32      0.44      0.37        54
        True       0.95      0.93      0.94       681

    accuracy                           0.89       735
   macro avg       0.64      0.68      0.66       735
weighted avg       0.91      0.89      0.90       735

In [103]:
import pickle
with open("C:/Users/Ephraim/Desktop/vscode/ML/Paritie Test Project/Wine-Quality-Estimation/Kivy App/models/model1a", "wb") as f:
    pickle.dump(model1b, f)
with open("C:/Users/Ephraim/Desktop/vscode/ML/Paritie Test Project/Wine-Quality-Estimation/Kivy App/models/model1b", "wb") as f:
    pickle.dump(model1b, f)

In [104]:
df5 = oversampledata(df5, "quality")
df5.quality.value_counts()

6.0    1865
7.0    1865
5.0    1865
Name: quality, dtype: int64

In [111]:
model2a = make_pipeline(StandardScaler(), LogisticRegression(random_state=10))
model2c = make_pipeline(StandardScaler(), SVC(C=100, gamma=1, random_state=10))

In [112]:
model2a.fit(df5.drop("quality", axis=1), df5.quality)
model2c.fit(df5.drop("quality", axis=1), df5.quality)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(C=100, gamma=1, random_state=10))])

In [113]:
df5_test = xtest_df.copy()
df5_test["quality"] = ytest_df.quality
df5_test = df5_test[(df5_test.quality == 5)|(df5_test.quality==6)|(df5_test.quality == 7)]
df5_test.reset_index(drop=True)
df5_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol,quality
0,6.3,0.31,0.30,10.00,49.0,212.0,3.74,11.9,0.083714,6.0
1,6.8,0.19,0.33,1.30,22.0,87.0,3.08,12.3,0.080477,7.0
2,7.8,0.40,0.26,9.50,32.0,178.0,3.04,10.9,0.091330,6.0
3,6.2,0.21,0.38,6.80,64.0,245.0,3.06,9.3,0.107000,6.0
4,6.1,0.36,0.41,19.35,67.0,207.0,3.39,9.1,0.110020,5.0

In [114]:
df5.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol,quality
0,7.5,0.14,0.34,1.3,50.0,153.0,3.29,9.6,0.103594,6.0
1,6.8,0.32,0.32,8.7,31.0,105.0,3.00,12.3,0.080607,7.0
2,6.5,0.24,0.32,7.6,48.0,203.0,3.45,9.7,0.102660,7.0
3,6.9,0.21,0.62,6.3,7.0,109.0,2.96,10.2,0.097410,6.0
4,6.4,0.16,0.42,1.0,29.0,113.0,3.18,11.0,0.090073,6.0

In [115]:
preds = model2a.predict(df5_test.drop("quality", axis=1))
print(classification_report(df5_test.quality, preds))

              precision    recall  f1-score   support

         5.0       0.53      0.72      0.61       219
         6.0       0.57      0.36      0.44       330
         7.0       0.44      0.60      0.51       132

    accuracy                           0.52       681
   macro avg       0.52      0.56      0.52       681
weighted avg       0.54      0.52      0.51       681

In [116]:
preds = model2c.predict(df5_test.drop("quality", axis=1))
print(classification_report(df5_test.quality, preds))

              precision    recall  f1-score   support

         5.0       0.67      0.67      0.67       219
         6.0       0.67      0.66      0.67       330
         7.0       0.59      0.60      0.59       132

    accuracy                           0.65       681
   macro avg       0.64      0.64      0.64       681
weighted avg       0.65      0.65      0.65       681

In [117]:

with open("C:/Users/Ephraim/Desktop/vscode/ML/Paritie Test Project/Wine-Quality-Estimation/Kivy App/models/model2c", "wb") as f:
    pickle.dump(model2c, f)

In [118]:
df6.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol,densit_alcohol,quality
0,7.5,0.28,0.34,4.2,36.0,116.0,2.99,12.3,0.080569,8.0
1,6.4,0.22,0.32,7.2,15.0,83.0,3.13,10.9,0.091101,8.0
2,7.5,0.42,0.34,4.3,34.0,108.0,3.14,12.8,0.077465,8.0
3,4.8,0.65,0.12,1.1,4.0,10.0,3.32,13.5,0.073516,4.0
4,6.5,0.48,0.02,0.9,32.0,99.0,3.14,9.8,0.101251,4.0

In [127]:
df6.quality.value_counts()

8.0    149
4.0    139
3.0     17
9.0      4
Name: quality, dtype: int64

In [170]:
df6["quality"] = df6.quality.apply(lambda x: 8. if x > 5 else 4.)
df6 = oversampledata(df6, "quality", 3)
df6.quality.value_counts()

8.0    156
4.0    156
Name: quality, dtype: int64

In [192]:
model3a = make_pipeline(StandardScaler(), LogisticRegression(random_state=10))
model3b = make_pipeline(StandardScaler(), SVC(kernel="rbf", random_state=10))

In [198]:
df6_test = xtest_df.copy()
df6_test["quality"] = ytest_df.quality
df6_test = df6_test[(df6_test.quality != 5)&(df6_test.quality!=6)&(df6_test.quality != 7)]
df6_test["quality"] = df6_test.quality.apply(lambda x: 8. if x > 5 else 4.)
df6_test = df6_test.reset_index(drop=True)
df6_test.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'free sulfur dioxide', 'total sulfur dioxide', 'pH', 'alcohol',
       'densit_alcohol', 'quality'],
      dtype='object')

In [194]:
model3a.fit(df6.drop("quality", axis=1), df6.quality)
model3b.fit(df6.drop("quality", axis=1), df6.quality)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(random_state=10))])

In [195]:
preds = model3a.predict(df6_test.drop("quality", axis=1))
print(classification_report(df6_test.quality, preds))

              precision    recall  f1-score   support

         4.0       0.79      0.81      0.80        27
         8.0       0.81      0.78      0.79        27

    accuracy                           0.80        54
   macro avg       0.80      0.80      0.80        54
weighted avg       0.80      0.80      0.80        54

In [196]:
preds = model3b.predict(df6_test.drop("quality", axis=1))
print(classification_report(df6_test.quality, preds))

              precision    recall  f1-score   support

         4.0       0.89      0.93      0.91        27
         8.0       0.92      0.89      0.91        27

    accuracy                           0.91        54
   macro avg       0.91      0.91      0.91        54
weighted avg       0.91      0.91      0.91        54

In [197]:

with open("C:/Users/Ephraim/Desktop/vscode/ML/Paritie Test Project/Wine-Quality-Estimation/Kivy App/models/model3b", "wb") as f:
    pickle.dump(model3b, f)

In [241]:
import pickle
class Model:
    def __init__(self, directory="./models/"):
        self.iscsv = True
        with open(directory + "model1b", "rb") as f:
            self._model1 = pickle.load(f)
        with open(directory + "model2c", "rb") as f:
            self._model2 = pickle.load(f)
        with open(directory + "model3b", "rb") as f:
            self._model3 = pickle.load(f)
    
    def predict(self, X:pd.DataFrame, csv=True):
        X = self.preprocess(X)
        preds = self._model1.predict(X)
        X["common"] = preds
        X1 = X[X.common == True]
        X2 = X[X.common == False]
        X1 = X1.drop("common", axis=1)
        X2 = X2.drop("common", axis=1)
        if csv:
            preds1 = self._model2.predict(X1)
            preds2 = self._model3.predict(X2)
            X1['preds'] = preds1
            X2['preds'] = preds2
            X = pd.concat([X1, X2])
            X = X.sort_index()
            return X["preds"]
        elif preds[0]:
            return self._model2.predict(X1)
        else:
            return self._model3.predict(X2)
        
        

    def preprocess(self, dataframe:pd.DataFrame):
        dataframe["densit_alcohol"] = dataframe["density"]/dataframe['alcohol']
        dataframe.drop("sulphates",axis=1, inplace=True)
        dataframe.drop("density",axis=1, inplace=True)
        return dataframe.drop("chlorides",axis=1)

In [242]:
model = Model("C:/Users/Ephraim/Desktop/vscode/ML/Paritie Test Project/Wine-Quality-Estimation/Kivy App/models/")

In [243]:
preds = model.predict(xtest_df.copy())

In [244]:
print(classification_report(ytest_df.quality, preds))

              precision    recall  f1-score   support

         3.0       0.00      0.00      0.00         3
         4.0       0.28      0.38      0.32        24
         5.0       0.67      0.63      0.65       219
         6.0       0.64      0.63      0.63       330
         7.0       0.57      0.54      0.55       132
         8.0       0.28      0.46      0.35        26
         9.0       0.00      0.00      0.00         1

    accuracy                           0.60       735
   macro avg       0.35      0.38      0.36       735
weighted avg       0.61      0.60      0.60       735

C:\Users\Ephraim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Ephraim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Ephraim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [245]:
l1 = ('fixed acidity',
                'volatile acidity',
                'citric acid',
                'residual sugar',
                'chlorides',
                'free sulfur dioxide',
                'total sulfur dioxide',
                'density',
                'pH',
                'sulphates',
                'alcohol')
l2 = list(xtest_df.iloc[0])

In [246]:
l1

('fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol')

In [247]:
l2

[6.3, 0.31, 0.3, 10.0, 0.046, 49.0, 212.0, 0.9962, 3.74, 0.55, 11.9]

In [249]:
def createdFrame(col, val):
    return pd.DataFrame([val], columns=col)

In [253]:
d = createdFrame(l1, l2)
d

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,6.3,0.31,0.3,10.0,0.046,49.0,212.0,0.9962,3.74,0.55,11.9

In [254]:
list(df2.drop("quality", axis=1).iloc[0])

[7.5, 0.14, 0.34, 1.3, 0.055, 50.0, 153.0, 0.9945, 3.29, 0.8, 9.6]

In [255]:
model.predict(d, False)

array([6.])

In [256]:
ytest_df.iloc[0]

quality    6.0
Name: 0, dtype: float64